{% extends "base.html" %}

{% block content %}
<h2>Notifications</h2>

{% for n in notifications %}

    {% if "FROM:" in n.message %}
        {% set parts = n.message.split("|") %}
        {% set sender = parts[0].replace("FROM:", "") %}
        {% set text = parts[1] %}

        <p><b>Message:</b> {{ text }}</p>

        <form method="POST" action="/reply/{{ sender }}">
            <input name="text" placeholder="Reply..." required>
            <button type="submit">Reply</button>
        </form>

        <hr>

    {% else %}
        <p>{{ n.message }}</p>
        <hr>
    {% endif %}

{% endfor %}

{% endblock %}