{% extends "base.html" %}

{% block content %}
<h2>Password Recovery</h2>

<form method="POST">

Email:<br>
<input name="email"><br><br>

What is the name of the highschool you attended?:<br>
<input name="q1"><br><br>

What is the maidan name of your mother?:<br>
<input name="q2"><br><br>

What is the name of your first pet?:<br>
<input name="q3"><br><br>

<button type="submit">Recover</button>
</form>

<hr>

<!-- STEP 2: SHOW RESET FORM ONLY IF VERIFIED -->
{% if allow_reset %}

<h3>Set New Password</h3>

<form method="POST">

<input type="hidden" name="email" value="{{ email }}">

New Password:<br>
<input name="new_password" type="password" required><br><br>

<button type="submit">Update Password</button>
</form>

{% endif %}

{% if result %}
<p><b>{{ result }}</b></p>
{% endif %}

{% endblock %}